/*body{
	background-color: black;
	color: white;
}
.big{
	width: 80%;
	height: 350px;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}
.para{
	text-align: justify;
	font-size: 105%;
}
h1{
	text-align: center;
}
.intro{
	text-align: center;
}
.tro2{
	font-size: 110%;	
}
.take1{
	/*background-color: pink;*/
}
.take2{
	/*background-colr: lightblue;*/
}
.take3{
	/*background-color: lightgreen;*/
}
.take4{
	/*background-color: lightyellow;*/
}
/*.footer{
	text-align: center;
	margin-top: 50px;
}
.osama{
	text-decoration: none;
	font-weight: lighter;
	font-size: 150%;
	color: #33adff;
	font-style: italic;
}
@media (min-width: 1200px){
	.big{
		width: 22%;
		height: 400px;
		float: left;
		padding: 1%;
	}*/
/*	.footer{
		/*background-color: red;*/
		height: 100px;
		clear: both;
		margin-right: auto;
		margin-left: auto; 
		margin-top: 
	}*/
}
/*@media (min-width: 992px) and (max-width: 1199px) {
	.big{
		width: 47%;
		padding: 1.5%;
		height: 300px;
		float: left;
	}*/
}*/